{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
    <h2>Käyttäjä {{user_logged_in.nimi}} on kirjautunut sisään :-)</h2>
{% else %}
<h2>Et ole kirjautunut :-(</h2>
{% endif %}
<h1>Pokémonit</h1>

<p>
    <a href="{{base_path}}/poke/new" class="btn btn-success">Lisää uusi Pokémon joukkueeseesi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Laji (nro)</th>
            <th>Kouluttaja</th>
            <th>Lempinimi</th>
            <th>Atk</th>
            <th>Def</th>
            <th>Speed</th>
            <th>SpAtk</th>
            <th>SpDef</th>
            <th>HP</th>
            <th>Lv</th>
            <th>Sukupuoli</th>
            <th>Esine</th>
        </tr>
    </thead>

    <tbody>
        {% for p in kaikki %}
        <tr>
            <td><a href="{{base_path}}/poke/p/{{p.pid}}">{{p.pid}}</a></td>
            <td><a href="{{base_path}}/poke/k/{{p.kid}}">{{p.kid}}</a></td>
            <td>{{p.lempinimi}}</td>
            <td>{{p.atk}}</td>
            <td>{{p.def}}</td>
            <td>{{p.speed}}</td>
            <td>{{p.spatk}}</td>
            <td>{{p.spdef}}</td>
            <td>{{p.hp}}</td>
            <td>{{p.lvl}}</td>
            <td>{{p.sukupuoli}}</td>
            <td>{{p.esine}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}