{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi Pokémon</h1>
{% if errors %}
<div class="alert alert-danger">
    <p><b>Oman Pokémonisi lisääminen epäonnistui! Noudata annettuja rajoituksia!</b></p>
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<p>Huomaa, että Lv, HP, Atk, Def, Speed, SpAtk ja SpDef vaativat kokonaislukuarvoja.</p>
<form method="post" action="{{base_path}}/poke">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Pokémon-laji</label>
            <select class="form-control" name="pid">
                {% for laji in lajit %}
                {% if attributes.pid == laji.tunnusluku %}
                <option selected="selected" value="{{laji.tunnusluku}}">{{laji.nimi}}</option>
                {% else %}
                <option value="{{laji.tunnusluku}}">{{laji.nimi}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-6">
            <label>Lempinimi (max. 20 merkkiä)</label>
            <input type="text" name="lempinimi" class="form-control" value="{{attributes.lempinimi}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <label>Lv</label>
            <input type="number" min="1" max="100" name="lvl" class="form-control" value="{{attributes.lvl}}">
        </div>
        <div class="form-group col-md-1">
            <label>HP</label>
            <input type="number" min="1" max="999" name="hp" class="form-control" value="{{attributes.hp}}">
        </div>
        <div class="form-group col-md-1">
            <label>Atk</label>
            <input type="number" min="1" max="999" name="atk" class="form-control" value="{{attributes.atk}}">
        </div>
        <div class="form-group col-md-1">
            <label>Def</label>
            <input type="number" min="1" max="999" name="def" class="form-control" value="{{attributes.def}}">
        </div>
        <div class="form-group col-md-1">
            <label>Speed</label>
            <input type="number" min="1" max="999" name="speed" class="form-control" value="{{attributes.speed}}">
        </div>
        <div class="form-group col-md-1">
            <label>SpAtk</label>
            <input type="number" min="1" max="999" name="spatk" class="form-control" value="{{attributes.spatk}}">
        </div>
        <div class="form-group col-md-1">
            <label>SpDef</label>
            <input type="number" min="1" max="999" name="spdef" class="form-control" value="{{attributes.spdef}}">
        </div>
        <div class="form-group col-md-2">
            <label>Sukupuoli</label>
            <select class="form-control" name="sukupuoli">
                <option value="U">Uros</option>
                <option value="N">Naaras</option>
                <option value="E">Ei määritelty</option>
            </select>
        </div>
    </div>

    <div class="form-group col-md-3">
        <label>Esine</label>
        <select class="form-control" name="esine">
            <option value="(EI ESINETTÄ)">Ei esinettä</option>
            <option value="Berry">Berry</option>
            <option value="Big Root">Big Root</option>
            <option value="Bright Powder">Bright Powder</option>   
            <option value="Everstone">Everstone</option>
            <option value="Exp. Share">Exp. Share</option>
            <option value="Gold Berry">Gold Berry</option>
            <option value="Lax Incense">Lax Incense</option>
            <option value="Leftovers">Leftovers</option>
            <option value="Shell Bell">Shell Bell</option>
            <option value="Soft Sand">Soft Sand</option>
            <option value="Thick Club">Thick Club</option>
        </select>
    </div>
    <!--    <div class="form-group">
            <label>Kouluttajan nimi</label>
            <select class="form-control" name="kid">
                {% for k in kouluttajat %}
                <option value="{{k.nimi}}">{{k.nimi}}</option>
                {% endfor %}
            </select>
        </div> -->
    <!-- Tällä hetkellä kirjautuneen henkilön tunnus. Voi lisätä vain itselleen poksuja. -->
    <div class="form-group">
        <input type="hidden" name="kid" value="{{user_logged_in.nimi}}">
        <label>Kuvaus (max. 2000 merkkiä)</label>
        <textarea rows="5" name="kuvaus" class="form-control">
        {{attributes.kuvaus}}
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää uusi oma Pokémon!</button>
    </div>
</form>
{% endblock %}