{% extends "base.html" %}
{% block content %}
<h1>Pokémon-lajit</h1>
{% if user_logged_in.nimi == 'admin' %}
<p>
    <a href="{{base_path}}/laji/new" class="btn btn-success">Lisää Pokémon</a>
</p>
{% endif %}
<h4>Lajeja yhteensä: {{lkm}}</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tunnusluku</th>
            <th>Pituus (cm)</th>
            <th>Paino (kg)</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
        {% for poke in kaikki %}
        <tr>
            <td><a href="{{base_path}}/laji/{{poke.tunnusluku}}">{{poke.nimi}}</a></td>
            <td>{{poke.tunnusluku}}</td>
            <td>{{poke.pituus}}</td>
            <td>{{poke.paino}}</td>

            <td>
                <a href="https://bulbapedia.bulbagarden.net/wiki/{{poke.nimi}}">
                    <button type="submit" class="btn btn-success btn-sm">Bulbapedia</button>
                </a>
                <a href="https://en.wikipedia.org/wiki/{{poke.nimi}}">
                    <button type="submit" class="btn btn-default btn-sm">Wikipedia</button>
                </a>
            {% if user_logged_in.nimi == 'admin' %}
                <a href="{{base_path}}/laji/{{poke.tunnusluku}}/edit">
                    <button type="submit" class="btn btn-warning btn-sm">Muokkaa</button>
                </a>
                <form method="post" action="{{base_path}}/laji/{{poke.tunnusluku}}/destroy" style="display: inline-block;" class="destroy-form" data-confirm="Haluatko varmasti poistaa tämän Pokémon-lajin?">
                    <button type="submit" class="btn btn-danger btn-sm">Poista</button>
                </form>
            {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}