{% extends "base.html" %}
{% block content %}
<h1>Lisää Pokémon-laji</h1>
<form method="post" action="{{base_path}}/laji">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control">
    </div>
    <div class="form-group">
        <label>Tunnusluku</label>
        <input type="text" name="tunnusluku" class="form-control">
    </div>
    <div class="form-group">
        <label>Pituus</label>
        <input type="text" name="pituus" class="form-control">
    </div>
    <div class="form-group">
        <label>Paino</label>
        <input type="text" name="paino" class="form-control">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea rows="5" name="kuvaus" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää uusi Pokémon!</button>
    </div>
</form>
{% endblock %}