{% extends "base.html" %}
{% block content %}
  <h1>Pokémon-kouluttajat</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Lempipokémon</th>
        <th>Liiga</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan käyttäjät tähän -->
      <tr>
        <td>Tom Aatti</td>
        <td>Bulbasaur (Sipuli)</td>
        <td>Indigo</td>
      </tr>
      <tr>
        <td>Dawn Night</td>
        <td>Piplup (Pip)</td>
        <td>Sinnoh</td>
      </tr>
    </tbody>
  </table>
{% endblock %}