{% extends "base.html" %}
{% block content %}
  <h1>Liigat</h1>

  <p>
    <a href="#" class="btn btn-success">Luo liiga</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Johtaja</th>
        <th>Kouluttajia yhteensä</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan liigat tähän -->
      <tr>
        <td>Indigo</td>
        <td>Tom Aatti</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Sinnoh</td>
        <td>Paul "Arro" Gant</td>
        <td>50</td>
      </tr>
      <tr>
          <td>Johto</td>
          <td>Crystal "Kris" Soul</td>
          <td>9</td>
      </tr>
    </tbody>
  </table>
{% endblock %}