{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger">
    <p><b>{{error}}</b></p>
</div>
{% endif %}
<h1>{{liiga.nimi}}</h1>
<!-- Painikkeet tähän. Vain johtaja/admin voi poistaa liigan. -->
{% if user_logged_in.nimi == liiga.johtaja or user_logged_in.nimi == 'admin' %}
<a href="{{base_path}}/liiga/{{liiga.nimi}}/edit" class="btn btn-default">Muokkaa liigaa</a>
<form method="post" action="{{base_path}}/liiga/{{liiga.nimi}}/destroy" style="display: inline-block" class="destroy-form" data-confirm="Haluatko varmasti poistaa liigan?">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}
{% if user_logged_in.nimi == liiga.johtaja %}
<button class="btn btn-info">Liigajohtaja</button>
{% elseif onjasen %}
<form method='post' action='{{base_path}}/liiga/eroa'>
    <input type='hidden' name='nimi' value='{{liiga.nimi}}'>
    <input type='hidden' name='jasen' value='{{user_logged_in.nimi}}'>
    <button type='submit' class='btn btn-danger'>Eroa liigasta!</button>
</form>

{% else %}
<form method='post' action='{{base_path}}/liiga/liity'>
    <input type='hidden' name='nimi' value='{{liiga.nimi}}'>
    <input type='hidden' name='jasen' value='{{user_logged_in.nimi}}'>
    <button type='submit' class='btn btn-primary'>Liity liigaan!</button>
</form>

{% endif %}
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Liigajohtaja: </strong> <a href="{{base_path}}/kouluttaja/{{liiga.johtaja}}">{{liiga.johtaja}}</a>
    <li><strong>Jäsenet: </strong>
        {% if jasenet %}
        {{lkm}} kpl.
        <ul>
            {% for j in jasenet %}
            <li><a href="{{base_path}}/kouluttaja/{{j.jasen}}">{{j.jasen}}</a>
                {% if user_logged_in.nimi == liiga.johtaja or user_logged_in.nimi == 'admin' %}
                <form method='post' action='{{base_path}}/liiga/eroa'>
                    <input type='hidden' name='nimi' value='{{liiga.nimi}}'>
                    <input type='hidden' name='jasen' value='{{j.jasen}}'>
                    <button type='submit' class='btn btn-danger btn-xs'>Erota jäsen liigasta!</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        Ei vielä jäseniä!
        {% endif %}
    </li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{liiga.kuvaus}}
</p>
{% endblock %}