{% extends "base.html" %}
{% block content %}
<h1>Liigat</h1>
{% if user_logged_in %}
<p>
    <a href="{{base_path}}/liiga/new" class="btn btn-success">Luo liiga</a>
</p>
{% endif %}
<p>Liigajohtajaa ei lasketa liigan jäseneksi.</p>
<h4>Liigoja yhteensä: {{lkm}}</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Johtaja</th>
            <th>Toiminnot</th>
        </tr>
    </thead>

    <tbody>
        {% for l in kaikki %}
        <tr>
            <td><a href="{{base_path}}/liiga/{{l.nimi}}">{{l.nimi}}</a></td>
            <td><a href="{{base_path}}/kouluttaja/{{l.johtaja}}">{{l.johtaja}}</a></td>
            <td>
                {% if user_logged_in.nimi == l.johtaja or user_logged_in.nimi == 'admin' %}
                <a href="{{base_path}}/liiga/{{l.nimi}}/edit">
                    <button type="submit" class="btn btn-warning btn-sm">Muokkaa</button>
                </a>
                <form method="post" action="{{base_path}}/liiga/{{l.nimi}}/destroy" style="display: inline-block" class="destroy-form" data-confirm="Haluatko varmasti poistaa liigan?">
                    <button type="submit" class="btn btn-danger btn-sm">Poista</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}