{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<div class="page-header">
    <h1>Tervetuloa Pokémon-tietokantaan!</h1>
</div>
<p>
    <a href="https://github.com/Zeick/Tsoha-Bootstrap" class="btn btn-primary btn-lg">GitHub-lähdekoodi <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>

<p>Sivusto on vielä rakenteilla. Voit kirjautua sisään käyttäjätunnuksella 'admin', salasana 'pass1'.</p>
<h3>Valmis toiminnallisuus</h3>
<ul>
    <li>Pokémon-lajien lisääminen, poistaminen, listaaminen ja tuhoaminen.</li>
    <li>Omien Pokémonien lisääminen, poistaminen, listaaminen ja tuhoaminen.</li>
    <li>Rekisteröityminen, sisäänkirjautuminen, salasanan vaihtaminen ja tunnuksen poistaminen.</li>
    <li>Kouluttajan omien Pokémonien listaaminen esittelysivulla</li>
    <li>Pokémon-lajien yksilöiden listaaminen esittelysivulla</li>
</ul>
<h3>Ei vielä valmis toiminnallisuus</h3>
<ul>
    <li>Pokémon-liigojen lisääminen, poistaminen, listaaminen ja tuhoaminen (esittelysivut näkyvissä).</li>
    <li>Käyttäjän liittyminen Pokémon-liigaan</li>
</ul>

{% endblock %}
